[submodule "fierce"]
	path = fierce
	url = https://github.com/AnonSatan/fierce
[submodule "modules/fierce"]
	path = modules/fierce
	url = https://github.com/AnonSatan/fierce
[submodule "modules/sqlmap"]
	path = modules/sqlmap
	url = https://github.com/sqlmapproject/sqlmap
